{% extends 'base.html' %}

{% block title %}レビュー投稿{% endblock %}
{% block h1 %}レビュー投稿{% endblock %}

{% block content %}
  <form method="post" class="p-4 m-4 bg-light border border-success rounded form-group">
    {% csrf_token %}
    <label>対象書籍</label>
    <input class="form-control" value="{{ book.title }}" readonly>
    <label>タイトル</label>
    <input class="form-control" name="title">
    <label>本文</label>
    <textarea class="form-control" name="text" rows="3"></textarea>
    <label>星の数</label>
    <select class="form-control" name="rate">
      <option value="0">0 (最低)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3" selected>3 (普通)</option>
      <option value="4">4</option>
      <option value="5">5 (最高)</option>
    </select>
    <input type="hidden" name="book" value="{{ book.id }}">
    <button type="submit" class="btn btn-success mt-4">投稿する</button>
  </form>
{% endblock %}
